<!DOCTYPE html>
<html lang="en" ng-app="resumeApp">

<head>
  <meta charset="UTF-8">
  <title>AI Resume Screening and Job Matching SAAS</title>
  
  <!-- Linking CSS -->
  <link rel="stylesheet" href="static/styles/landing-page.css">
  <link rel="stylesheet" href="static/styles/dashboard.css">
  <link rel="stylesheet" href="static/styles/upload-resume.css">
  
  <!-- Linking JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  
  <script src="static/js/landing-page.js"></script>
  <script src="static/js/dashboard.js"></script>
  <script src="static/js/upload-resume.js"></script>
</head>

<body ng-controller="LandingPageController">
  <!-- Conditional Rendering: Show Login or Dashboard -->
  <div ng-if="!isLoggedIn" ng-include="'templates/landing-page.html'"></div>
  
  <div ng-if="isLoggedIn && role === 'recruiter'" ng-controller="DashboardController">
    <div ng-include="'templates/dashboard.html'"></div>

    <!-- Upload Resume Section -->
    <div ng-include="'templates/upload-resume.html'"></div>
  </div>

  

</body>

</html>
